{% extends 'stores/base.html' %}

{% block content %}

<!-- <html>
<head>

	<title></title>
	
</head>
<body> -->
	
	<br/>
	<h2>Cart</h2>
	<table border="1" id="cart">
		<tr>
			<th>ID</th>
			<th>Variant ID</th>
			<th>Product Name</th>
			<th>Image</th>
			<th>SKU</th>
			<th>Buy Quantity</th>
			<th>Price</th>
		</tr>


	</table>
	<br/>
	<form action="/checkout/" method="post" id="checkoutForm">{% csrf_token %}
		<button class = "btn btn-primary" type="submit">Check Out</button>
	
	</form>

	<hr/>



	<h2>Inventory Dashboard</h2>
	<table border="1" name="inventory">
		<tr>
			<th>ID</th>
			<th>Product Name</th>
			<th>Image</th>
			<th>SKU</th>
			<th>Price</th>
			<th>Stock</th>
			
			<th>Buy Quantity</th>
			<th></th>
		</tr>
		{% if product_list %}
			{% for product in product_list %}
				<tr id="{{product.id}}">
					<td name="id">{{product.id}}</td>
					<td name="name">{{product.name}}</td>
					<td name="image"><img src="{{product.image}}" width="150" height="150"></td>
					<td name="sku">{{product.sku}}</td>
					<td name="price">{{product.price}}</td>
					<td name="stock">{{product.stock}}</td>
					<td name="buyQuantity">
						<input type="number" id="variant_{{product.variant_id}}" >
					</td>

					<td><button class="btn btn-primary" type="button" onclick="addToCart({{product.id}},{{product.variant_id}})" >Add </button></td>

					<!-- <td><a class="btn btn-primary" href = "/product?id={{product.id}}">Add</a></td> -->
					<!-- href="/product?id={{product.id}} -->
				</tr>
			{% endfor %}
		{% endif %}
	</table>
<!-- addToCart({{product.id}},{{product.variant_id}} -->
	<script type="text/javascript">
		function readInput(){

		}
		function addToCart(productID, variantID){
			var productID, vID, productName, ProductImage, sku, price, quantity;
			var row = document.getElementById(productID);
			for (var i = 0, cell; cell = row.cells[i]; i++) {
				if (cell.getAttribute("name")=="id"){
					productID = cell.innerHTML;

				}else if(cell.getAttribute("name")=="name"){
					productName= cell.innerHTML;

				}else if(cell.getAttribute("name")=="image"){
					productImage = cell.innerHTML;

				}else if(cell.getAttribute("name")=="sku"){
					sku = cell.innerHTML;

				}else if(cell.getAttribute("name")=="price"){
					price = cell.innerHTML;
					console.log(price);

				}else if(cell.getAttribute("name")=="buyQuantity"){
					var x = document.getElementById("variant_"+variantID).value;
					// console.log(x);
					// console.log("v")
					buyQuantity = x;


				}
			    
			}
			var tr = '<tr><td name="productID">'+ productID+'</td><td name="variant_id">'+ variantID+'</td><td name="productName">'+ productName +'</td><td name="image">'+ productImage +'</td><td name=sku>'+ sku +'</td><td name="buyQuantity">'+ buyQuantity+'</td><td name="price"> Rs.'+ price*buyQuantity +'</td></tr>';
			doTheInsert(tr);
			var form = document.getElementById("checkoutForm");
			 var x = document.createElement("INPUT");
			  x.setAttribute("type", "hidden");
			  x.setAttribute("name", "variant_"+variantID);
			  x.setAttribute("value", variantID + ',' + buyQuantity);
			  form.appendChild(x);

		}


		function doTheInsert(html) {
			var newRow=document.getElementById('cart').insertRow();
		  // newRow = "<td>New row text</td><td>New row 2nd cell</td>"; <-- won't work
			newRow.innerHTML = html;
		}
	</script>

<!-- </body>
</html>
 -->
{% endblock %}
