{% extends 'stores/base.html' %}

{% block content %}
	<center>
		<h1>MishiPay Coding Challenge Solutions</h1>
		<h3><a href="/login">Login</a> / <a href="/signup">SignUp</a></h3>
	</center>
{% endblock %}