
{% extends 'stores/base.html' %}

{% block content %}

<h2>Login</h2>

	{% if error %}
		{{error}}
		<br/>
		<br/>
	{% endif %}
	<form method="POST" action="{% url 'login' %}">
		{% csrf_token %}

		<!-- {% if request.GET.next %}
			<input type="hidden" name="next" value= {{ request.GET.next }} />
		{% endif %}
 -->
		<label><strong>Username :</strong></label>
		<br/>
		<br/>
		<input type="text" name="username">
		<br>
		<br>
		<label><strong>Password :</strong></label>
		<br/>
		<br/>
		<input type="password" name="password">
		<br>
		<br>
		<input class="btn btn-primary" type="submit" name="login" value="Login">
		<br><br>
	</form>	


{% endblock %}
