
{% extends 'stores/base.html' %}

{% block content %}
<html>
<head>

	<title></title>
	
</head>
<body>
	<h2>Your order has been placed successfully</h2>
	<a class = "btn btn-primary" href = "{% url 'dashboard' %}">Back To Dashboard</a>


</body>
</html>

{% endblock %}	
	


