{% extends 'stores/base.html' %}


{% block content %}

<h2>SignUp</h2>
<html>
<head></head>
<body>
	{% if error %}
		{{error}}
		<br/>
		<br/>
	{% endif %}
	<form method="POST" action="{% url 'signup' %}">
		{% csrf_token%}
		<label><strong>Username :</strong></label>
		<br/>
		<br/>
		<input type="text" name="username">
		<br>
		<br>
		<label><strong>Password :</strong></label>
		<br/>
		<br/>
		<input type="password" name="password1">
		<br>
		<br>
		<label><strong>Confirm Password :</strong></label>
		<br/>
		<br/>
		<input type="password" name="password2">
		<br>
		<br>

		<input class="btn btn-primary" type="submit" name="signup" value="Sign Up">
		<br><br>
	</form>	
</body>
</html>

{% endblock %}